<li>
                        <%= link_to("Home", client_design_home_path(:template_name => 'design1')) %>
                    </li>
                    <li>
                        <%= link_to("Gallery", client_design_gallery_path(:template_name => 'design1')) %>
                    </li>
                    <li>
                        <%= link_to("News", client_design_news_path(:template_name => 'design1')) %>
                    </li>
                    <li>
                        <%= link_to("Event", client_design_events_path(:template_name => 'design1')) %>
                    </li>
                    <li>
                        <%= link_to("About", client_design_about_path(:template_name => 'design1')) %>
                    </li>
                    <li>
                        <%= link_to("Contact", client_design_contact_path(:template_name => 'design1')) %>
                    </li>
