<li>
                        <%= link_to("Home", site_home_path) %>
                    </li>
                    <li>
                        <%= link_to("Gallery", site_gallery_path) %>
                    </li>
                    <li>
                        <%= link_to("News", site_news_path) %>
                    </li>
                    <li>
                        <%= link_to("Event", site_events_path) %>
                    </li>
                    <li>
                        <%= link_to("About", site_about_path) %>
                    </li>
                    <li>
                        <%= link_to("Contact", site_contact_path) %>
                    </li>
